body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: #ff6b0f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
}
