/*
==============  Reset  ==============
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*
==============  Styles  ==============
*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  background-color: #f2f2f2;
}

/* ===========  Header  =========== */

header {
  background-color: #136c72;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.logo {
  max-width: 3rem;
  display: block;
}

.hamburger {
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  transition: color 150ms ease-in-out;
}

.close-btn {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5em;
  cursor: pointer;
  width: max-content;
  align-self: flex-end;
  transition: color 150ms ease-in-out;
}

.nav {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  width: 40%;
  height: 100vh;
  padding: 1.25em;
  text-align: right;
  background-color: rgba(19, 108, 114, 1);
  transition: transform 400ms ease-in-out;
  pointer-events: none;
  display: none;
}

.nav.show {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  z-index: 99;
  pointer-events: all;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.nav-link {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 600;
  transition: color 150ms ease-in-out;
}

.nav-link:hover,
.nav-link:focus,
.hamburger:hover,
.hamburger:focus,
.close-btn:hover,
.close-btn:focus {
  color: rgba(255, 255, 255, 1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
  backdrop-filter: blur(3px);
  display: none;
  transition: all 300ms ease-in-out;
}

.overlay.show {
  display: block;
}

/* ===========  Section Content  =========== */

.hero-message {
  background-color: #7cd8de;
  min-height: 15em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.new-text {
  font-weight: bold;
  color: white;
}

section {
  margin-block: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-container {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  margin-bottom: 1rem;
}

.boxes,
.more-boxes {
  width: 100%;
  display: grid;
  gap: 1em;
}

.box {
  display: block;
  width: 100%;
  min-height: 10em;
  padding: 1em;
  background-color: #89a2a3;
  text-align: center;
  border-radius: 5px;
}

.more-btn {
  display: inline-block;
  align-self: center;
  background-color: #136c72;
  color: #f2f2f2;
  padding: 0.5em 1.2em;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  transition: transform 300ms ease-in-out;
  cursor: pointer;
}

.more-btn:hover,
.more-btn:focus {
  transform: scale(1.03);
}

.hidden {
  display: none;
}

/* ===========  Media Queries  =========== */

@media (min-width: 501px) {
  .boxes,
  .more-boxes {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 801px) {
  .hamburger {
    display: none;
  }

  .close-btn {
    display: none;
  }

  .nav {
    all: unset;
  }

  .nav-list {
    align-items: center;
    flex-direction: initial;
    gap: 2em;
  }
}

@media (min-width: 1201px) {
  .boxes,
  .more-boxes {
    max-width: 1200px;
  }
}
